@use '@/styles/_mixins.scss' as *;

.nav-list {
    margin: 0;

    @include flex-column;

    list-style: none;

    border-bottom: 1px var(--border-color) solid;

    padding-bottom: 0.75rem;
    box-sizing: border-box;
}
