@use '@/styles/_mixins.scss' as *;

.full-navbar {
    @include flex-column;
    gap: 0.75rem;

    width: 100%;
    max-width: 240px;
    height: 100%;

    padding: 0.75rem;
    box-sizing: border-box;
}
