@use '@/styles/_mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.full-navbar {
    @include flex-column;
    gap: 0.75rem;

    width: 100%;
    max-width: 240px;
    height: 100%;

    background-color: var(--background-color);

    padding: 0.75rem;

    box-sizing: border-box;

    transition: transform var(--d-transition-dur) ease;

    z-index: 100;
}

.backdrop {
    position: fixed;

    top: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    background-color: var(--backdrop-bg-color);

    z-index: 60;
}

@media (max-width: map-get($media-breakpoints, extra-large)) {
    .full-navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
}
