@use '@/styles/_mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.full-navbar {
    @include flex-column;
    gap: 0.75rem;

    width: 100%;
    max-width: 240px;
    height: 100%;

    padding: 0.75rem;
    box-sizing: border-box;
}

.backdrop {
    position: fixed;

    background-color: var(--backdrop-bg-color);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
}

@media (max-width: map-get($media-breakpoints, extra-large)) {
    .full-navbar {
        position: fixed;
    }

    .backgdrop {
        display: block;
    }
}
