@use '@/styles/_mixins.scss' as *;

.modal-backdrop {
    position: fixed;

    @include flex-center;

    width: 100vw;

    height: 100vh;

    &.background-dark {
        background-color: var(--backdrop-bg-color);
    }
}
