@use '@/styles/_mixins.scss' as *;

.search-modal {
    margin: 0;
    @include flex-column;

    position: fixed;
    top: 0;
    left: 0;

    max-height: 640px;

    background-color: var(--foreground-color);
    border-radius: 12px;
    padding: 0.5rem 0;
    box-sizing: border-box;

    list-style: none;
}

.search-item {
    @include flex-y-center;
    gap: 0.75rem;

    width: 100%;
    height: 42px;

    border-radius: 8px;

    padding: 0 1rem;
    box-sizing: border-box;
}

.item-title {
    font-size: 1rem;
    font-weight: 500;
}

.item-image {
    margin-left: auto;
}
