//

.slider {
    position: relative;

    width: 56px;

    height: 2px;

    background-color: var(--hover-overlay-color);

    border-radius: 12px;
    outline: 0;

    cursor: pointer;

    &:hover .value {
        visibility: visible;
    }

    &:focus-within > .progress,
    &:focus-within > .thumb {
        background-color: var(--focus-color);
    }
    &:focus-within .value {
        visibility: visible;
    }
}

.progress {
    position: absolute;
    top: 0;

    height: 100%;

    background-color: var(--font-color);
}

.thumb {
    position: absolute;
    top: -3px;

    width: 9px;
    height: 9px;

    background-color: var(--font-color);

    border-radius: 50%;

    outline: 0;

    z-index: 100;

    &:active .value {
        visibility: visible;
    }
}

.value {
    position: absolute;
    top: -23px;
    left: 50%;

    transform: translateX(-50%);

    font-size: var(--d-font-size);

    visibility: hidden;

    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}
