@use '@/styles/_mixins.scss' as *;

.mini-nav-link {
    @include flex-center;

    width: 4rem;

    height: 4.5rem;

    border-radius: 10px;

    color: var(--font-color);

    text-decoration: none;

    &:hover {
        background-color: var(--hover-btn-bg);
    }

    &:active {
        transition: background-color var(--d-transition-dur) ease;

        background-color: var(--dim-active-btn-bg);
    }
}
