@use '@/styles/_mixins.scss' as *;

.menu-link {
    @include flex-y-center;
    gap: 0.75rem;

    width: 100%;
    height: 40px;

    padding: 0.125rem 1rem;

    box-sizing: border-box;

    color: var(--font-color);

    text-decoration: none;

    &:hover {
        background-color: var(--hover-btn-bg);
    }
}

.title {
    font-size: var(--d-font-size);
}
