@use '@/styles/_mixins.scss' as *;

html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include flex-column;

    background: var(--background-color);

    margin: 0;

    color: var(--font-color);

    font-family: var(--roboto-font);

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
}

.main-content {
    display: flex;

    width: 100%;
    height: 100%;
}

:root {
    --background-color: #0f0f0f;
    --foreground-color: #212121;

    --font-color: #f1f1f1;
    --secondary-font-color: #6c6c6c;
    --tretiary-font-color: #aaaaaa;

    --border-color: #ffffff33;
    --dim-border-color: #323232;

    --backdrop-bg-color: #00000080;
    --modal-bg-color: #282828;

    /* Hover, Focus, Active colors */

    --dim-hover-btn-bg: #272727;

    --hover-btn-bg: #ffffff1a;

    --active-btn-bg: #535353;
    --dim-active-btn-bg: #3d3d3d;

    --focus-color: #1c62b9;

    /* Sizes. Prefix "d" means "default". Prefix "m" means "medium" */

    --d-font-size: 0.95rem;

    --d-transition-dur: 0.16s;
}
