@use '@/styles/_mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include flex-column;

    background: var(--background-color);

    margin: 0;

    color: var(--font-color);

    font-family: var(--roboto-font);

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
}

.main-group {
    display: flex;

    width: 100%;
    height: 100%;
}

.main-content {
    margin-top: var(--header-height);
    margin-left: var(--mini-navbar-width);
}

/* Variables */

:root {
    --background-color: #0f0f0f;
    --foreground-color: #212121;

    --font-color: #f1f1f1;
    --secondary-font-color: #6c6c6c;
    --tretiary-font-color: #aaaaaa;

    --border-color: #ffffff33;
    --dim-border-color: #323232;

    --backdrop-bg-color: #00000080;
    --modal-bg-color: #282828;

    /* Hover, Focus, Active colors */

    --dim-hover-btn-bg: #272727;

    --hover-btn-bg: #ffffff1a;

    --alpha-hover-bg: #3f3f3f;

    --active-btn-bg: #535353;

    --dim-active-btn-bg: #3d3d3d;

    --focus-color: #1c62b9;

    /* Sizes. Prefix "d" means "default". Prefix "m" means "medium" */

    --header-height: 56px;

    --d-font-size: 0.95rem;

    --d-transition-dur: 0.16s;

    --mini-navbar-width: 72px;
    --full-navbar-width: 240px;
}

/* global utility classes */

html.navbar-shown .main-content {
    margin-left: var(--full-navbar-width);
}

@media (max-width: map-get($media-breakpoints, medium)) {
    :root {
        --mini-navbar-width: 0;
    }
}

@media (max-width: map-get($media-breakpoints, extra-large)) {
    html.navbar-shown .main-content {
        margin-left: var(--mini-navbar-width);
    }
}
