html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--background-color);

    margin: 0;

    color: var(--font-color);
    font-family: var(--roboto-font);

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

:root {
    --background-color: #0f0f0f;
    --foreground-color: #ededed;

    --font-color: #f1f1f1;

    --border-color: #ffffff33;

    /* Hover, Focus, Active colors */

    --hover-btn-bg: #272727;

    --active-btn-bg: #535353;
    --dim-active-btn-bg: #3d3d3d;

    /* Sizes. Prefix "d" means "default". Prefix "m" means "medium" */

    --d-font-size: 0.95rem;
}
