@use '@/styles/_mixins.scss' as *;

.mini-navbar {
    @include flex-column;

    width: 100%;

    max-width: 72px;

    height: 100%;

    background-color: var(--background-color);

    padding: 0.75rem 0.25rem;

    box-sizing: border-box;
}
