@use '@/styles/_mixins.scss' as *;

.setting-section {
    @include flex-column;

    gap: 1.25rem;
}

.header {
    @include flex-column;
    gap: 0.5rem;
}

.title {
    @include text-wo-margin(1.25rem, 700);
}
.description {
    @include text-wo-margin(0.75rem);
    color: var(--secondary-font-color);
}
