@use '@/styles/_mixins.scss' as *;

.overlay-button {
    @include flex-center;

    height: 40px;

    background-color: var(--overlay-bg-color);

    border: 0;

    padding: 0;

    &:hover {
        background-color: var(--hover-overlay-color);
    }
    &:active {
        background-color: var(--active-overlay-color);
    }
    &.circle {
        width: 40px;
        border-radius: 50%;
    }
    &.ellipse {
        width: 48px;
        border-radius: 28px;
    }

    cursor: pointer;
}
