@use '@/styles/_mixins.scss' as *;

.reaction-button {
    @include flex-y-center;
    gap: 0.25rem;

    height: 36px;

    border: 0;

    border-radius: 18px;

    padding: 0 1rem;
    box-sizing: border-box;

    font-size: var(--d-font-size);
    font-weight: 500;
    font-family: var(--roboto-font);

    cursor: pointer;
}

.accent {
    background-color: var(--font-color);

    color: var(--background-color);

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.7;
    }
}

.secondary {
    background-color: var(--modal-bg-color);

    color: var(--font-color);

    transition: background-color 0.1s ease;

    &:hover {
        background-color: var(--dim-active-btn-bg);
    }
    &:active {
        background-color: var(--active-btn-bg);
    }
}

.with-icon {
    padding-left: 0.5rem;
}
