@use '@/styles/_mixins.scss' as *;

.navbar {
    @include flex-column;
    gap: 1.5rem;

    width: 100%;

    max-width: 240px;
}

.title {
    color: var(--secondary-font-color);

    font-size: 1.25rem;

    padding-left: 0.5rem;
}
