@use '@/styles/_mixins.scss' as *;

.navbar {
    @include flex-column;

    width: 100%;

    max-width: 240px;
}

.title {
    color: var(--tretiary-font-color);

    font-size: 1.25rem;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
}
