@use '@/styles/_mixins.scss' as *;

.video-item {
    position: relative;

    @include flex-column;

    gap: 0.75rem;

    text-decoration: none;

    color: var(--font-color);

    width: 100%;

    max-width: 400px;
    height: 100%;
    max-height: 332px;

    padding: 0.5rem;
    box-sizing: border-box;

    &:hover {
        & .scaling-background {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.scaling-background {
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0;

    width: 100%;

    height: 100%;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 12px;

    transform: translate(-50%, -50%) scale(0.9);

    transition: transform var(--d-transition-dur) ease;

    z-index: -1;
}

.preview-image {
    border-radius: 12px;
}

.info-block {
    display: flex;
    gap: 0.75rem;
}

.avatar {
    border-radius: 50%;
}

.text-block {
    @include flex-column;
    gap: 0.125em;
}

.title {
    width: 100%;
    max-width: 320px;

    @include text-wo-margin(1rem, 500);

    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-name {
    font-size: var(--d-font-size);

    color: var(--tretiary-font-color);
}

.extra-info-block {
}

.extra-info {
    font-size: var(--d-font-size);
    color: var(--tretiary-font-color);
}
