@use '@/styles/_mixins.scss' as *;

.container {
    display: flex;
    gap: 1rem;
}

.interactive-block {
    @include flex-column;

    gap: 0.5rem;

    width: 100%;
}

.avatar {
    border-radius: 50%;
}

.comment-input-block {
    @include flex-column;

    gap: 0.25rem;

    &:focus-within .growing-line {
        transform: scale(1);
    }
}
.comment-input {
    background-color: transparent;

    border: 0;

    outline: none;

    font-size: 1rem;
    color: var(--font-color);
}

.line {
    width: 100%;
    height: 1px;

    background-color: var(--modal-bg-color);
}

.growing-line {
    width: 100%;

    height: 100%;

    transform: scale(0);

    background-color: var(--font-color);

    transition: transform var(--d-transition-dur) ease;
}

.send-button {
    margin-left: auto;
    width: max-content;
}
