@use '@/styles/_mixins.scss' as *;

.auth-page {
    @include flex-center;

    width: 100%;
    height: 100%;

    margin-top: var(--header-height);
    margin-left: var(--navbar-width);
}

.message-box {
    @include flex-column;

    // align-items: center;

    width: 100%;
    max-width: 600px;

    padding: 1rem;
    box-sizing: border-box;
}
.status {
    color: var(--secondary-font-color);
    font-size: 2rem;
}

.message {
    @include text-wo-margin(1.5rem);
}
