@use '@/styles/_mixins.scss' as *;

.switch {
    position: relative;

    width: 37px;
    height: 16px;

    background-color: var(--dim-border-color);

    outline: none;

    border: 0;
    border-radius: 8px;

    &[aria-checked] {
        background-color: var(--focus-color);
        .thumb {
            transform: translate(100%, -50%);

            background-color: var(--focus-color);
        }
    }

    &:focus-visible {
        & .focus-block {
            visibility: visible;

            background-color: var(--focus-color);
        }
    }

    cursor: pointer;
}

.thumb {
    position: absolute;
    left: 0;
    transform: translate(0, -50%);

    @include flex-center;

    width: 20px;
    height: 20px;

    background-color: var(--tretiary-font-color);

    border-radius: 50%;
}

.focus-block {
    visibility: hidden;

    width: 37px;

    height: 37px;

    background-color: var(--dim-border-color);
    border-radius: 50%;

    opacity: 0.5;
}
