@use '@/styles/_mixins.scss' as *;

.setting-link {
    @include flex-y-center;

    background-color: transparent;

    width: 100%;
    height: 40px;

    border-radius: 10px;

    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    color: var(--font-color);
    font-size: var(--d-font-size);
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        background-color: var(--hover-btn-bg);
    }
    &:active {
        background-color: var(--active-btn-bg);
    }
}
.active {
    background-color: var(--alpha-hover-bg);
}
