@use '@/styles/_mixins.scss' as *;

.tooltip {
    position: absolute;
    top: 0;
    left: 0;

    @include flex-center;

    width: max-content;

    background-color: var(--glass-bg-color);

    border-radius: 6px;

    padding: 0.5rem;

    box-sizing: border-box;

    font-size: 0.75rem;

    z-index: 10000;
}
