@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-x-center {
    display: flex;

    justify-content: center;
}

@mixin flex-y-center {
    display: flex;

    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-wo-margin($font-size: 1rem, $font-weight: 400) {
    margin: 0;

    font-size: $font-size;
    font-weight: $font-weight;
}
