@use '@/styles/_mixins.scss' as *;

.header {
    @include flex-y-center;
    justify-content: space-between;

    width: 100%;
    height: 56px;

    padding: 0 1rem;
    box-sizing: border-box;
}

.tool-buttons {
    display: flex;
    gap: 0.5rem;
}
