@use '@/styles/_mixins.scss' as *;

.header {
    @include flex-y-center;
    justify-content: space-between;
    gap: 0.5em;

    flex-shrink: 0;

    width: 100%;
    height: 100%;
    max-height: 56px;

    padding: 0 1rem;
    box-sizing: border-box;
}

.tool-buttons {
    display: flex;
    gap: 0.5rem;
}
