@use '@/styles/_mixins.scss' as *;

.header {
    position: fixed;

    top: 0;

    @include flex-y-center;

    justify-content: space-between;
    gap: 0.5em;

    flex-shrink: 0;

    width: 100%;

    height: 100%;

    max-height: var(--header-height);

    background-color: var(--background-color);

    padding: 0 1rem;
    box-sizing: border-box;

    z-index: 10;
}

.tool-buttons {
    display: flex;

    gap: 0.5rem;
}
