@use '@/styles/_mixins.scss' as *;

.nav-link {
    @include flex-y-center;
    gap: 1.5em;

    width: 100%;
    height: 40px;

    background-color: transparent;

    border-radius: 10px;

    padding: 0 0.75rem;

    box-sizing: border-box;

    color: var(--font-color);

    text-decoration: none;

    &:focus,
    &:hover {
        background-color: var(--hover-btn-bg);
    }
    &.active {
        background-color: var(--hover-btn-bg);

        &:hover {
            background-color: var(--dim-active-btn-bg);
        }
    }
}

.title {
    font-size: var(--d-font-size);
}
